.loader-page {
	opacity: 0;
	animation: loader-page 2s ease forwards;
	height: calc(100vh - var(--padding-h-md) - 5rem);
	overflow: hidden;
}

@keyframes loader-page {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.main_panel_popup {
	position: absolute;
	top: var(--side-bar-top);
	box-sizing: border-box;
	margin-left: calc(var(--w-sidebar) + var(--padding-h-md) * 2);
	width: var(--panel-width);
	background-color: #e9ecef;
	padding: 0.5rem 1rem 0.5rem 1rem;
	border-radius: 15px;
	border: 1px solid #000;
	height: calc(100vh - var(--side-bar-top) - var(--padding-h-md));
	padding-left: 100px;
}

.main_panel_popup::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	height: 100%;
	background-color: var(--theme-color);
	border-radius: 15px 0 0 15px;
}

.main_panel_popup::after {
	content: '';
	position: absolute;
	top: 20px; /* provide space from the top */
	left: calc((50px - 5px) / 2); /* center the SVG horizontally */
	width: 50px;
	height: 50px;
	background-image: var(--theme-svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center; /* to center the SVG within the defined width and height */
	color: white;
	padding: 10px; /* add padding around the SVG */
	box-sizing: border-box; /* to include padding and border in the element's total width and height */
}

/* .download_portrait {
  position: absolute;
  top: 15px;
  right: 50px;
  z-index: 9999;
  font-size: 1.5rem !important;
  display: inline !important;
  align-items: center !important;
  justify-content: center !important;
  min-height:auto !important;
}

#place_explorer-main_panel {
  position: absolute;
  top: 0px;
  left: var(--w-sidebar);
  right: 0px;
  height: calc(100vh - var(--h-navbar));
  z-index: var(--depth-ui);
}

div#place_explorer-back {
  position: absolute;
  top: 0px;
  left: var(--w-sidebar);
  right: 0px;
  height: var(--h-navbar);
  z-index: var(--depth-ui-fixed);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background: var(--c-primary-complement);
  border-top: 1px solid var(--c-default);
  padding-left: var(--h-navbar);
  padding-right: var(--h-navbar);
  box-shadow: var(--box-shadow-md);
  clip-path: inset(0px 0px -15px 0px);
}

a#place_explorer-back ,
a#place_explorer-back:hover,
a#place_explorer-back:active,
a#place_explorer-back:focus {
  color: var(--c-primary);
  margin-left: unset !important;
  font-weight: bold;
  text-decoration: none;
}

div#place_explorer-back button {
  background: none !important;
  border: none !important;
  height: 100%;
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: var(--h-navbar);
  display: flex;
  align-items: center;
  justify-content: center;
}

div#place_explorer-back button:first-child {
  left: 0px;
}

div#place_explorer-back button:last-child {
  right: 0px;
} */

/* .main_panel_popup img {
  margin-top: var(--padding-v-md);
  margin-left: -15px;
  margin-right: -30px;
  width: calc(100% + 30px);
  max-width: unset !important;
}

.main_panel_popup  h1 {
  font-size: 3.5rem;
  margin-bottom: 2rem;
}

.main_panel_popup p,
.main_panel_popup h1,
.main_panel_popup h2,
.main_panel_popup h3,
.main_panel_popup h4,
.main_panel_popup h5,
.main_panel_popup h6 {
  max-width: calc(1rem * 60);
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 775px) {
  #place_explorer-main_panel,
  div#place_explorer-back {
    left: 0px;
  }
} */
