.irs {
	font-family: var(--ff-body);
}

.irs--shiny {
	display: block;
	height: 60px;
	margin-bottom: 15px;
}

.irs--shiny > .irs .irs-line,
.irs--shiny > :not(.irs) {
	transform: translate(0px, 5px) scale(1, 1);
}

.irs--shiny .irs-handle {
	border: unset;
	background: unset;
	background-color: var(--c-black);
	transition: var(--transition-button);
	box-shadow: var(--box-shadow-md);
	top: 20px;
	width: 18px;
	height: 18px;
}

.irs--shiny .irs-handle:hover,
.irs--shiny .irs-handle.state_hover {
	background: unset;
	background-color: var(--c-black);
	filter: var(--filter-button-hover);
}

.irs--shiny .irs-handle:active,
.irs--shiny .irs-handle.state_active {
	background: unset;
	background-color: var(--c-black);
	filter: var(--filter-button-active);
}

.irs--shiny .irs-line {
	border: unset;
	background: unset;
	background-color: var(--c-default);
}

.irs--shiny .irs-bar,
.irs--shiny .irs-single,
.irs--shiny .irs-to,
.irs--shiny .irs-from {
	background-color: var(--theme-color);
	border: 0px;
	line-height: 1.42857143;
}

/* YEAR SLIDER */
.year-slider-slim .irs-min,
.year-slider-slim .irs-max,
.year-slider-slim .irs-from,
.year-slider-slim .irs-to,
.year-slider-slim .irs-single {
	display: none !important;
}
.year-slider-slim .irs--shiny > .irs .irs-line,
.year-slider-slim .irs--shiny > :not(.irs) {
	transform: none;
}
.year-slider-slim .irs--shiny .irs-line {
	top: 0px;
}
.year-slider-slim .irs--shiny .irs-bar {
	top: 0px;
}
.year-slider-slim .irs--shiny .irs-handle {
	top: -5px;
}
.year-slider-slim .irs--shiny .irs-grid {
	height: 20px;
}
.year-slider-slim .irs-shiny {
	height: 45px;
}
.year-slider-slim .irs--shiny.irs-with-grid {
	height: 28px !important;
}
.year-slider-slim .irs--shiny .irs-grid-text {
	bottom: 0px;
}

.year-slider .irs--shiny.irs-with-grid {
	height: 30px !important;
}

.year-slider .irs-grid {
	display: none;
}
