/* define stevens.greenblue color bivariate palette HSL values */
:root {
  --min-min-r: 232;
  --min-min-g: 232;
  --min-min-b: 232;

  --min-max-r: 108;
  --min-max-g: 131;
  --min-max-b: 181;

  --max-min-r: 115;
  --max-min-g: 174;
  --max-min-b: 128;

  --max-max-r: 42;
  --max-max-g: 90;
  --max-max-b: 91;
}