:root {
  --h-navbar: 50px;
  --c-nav-content: var(--c-primary);
  --c-nav-content-bg-active: var(--c-primary-complement-active);
  --c-nav-content-bg-focus: var(--c-primary-complement-focus);
  --c-nav-content-bg-hover: var(--c-primary-complement-hover);
  --c-nav-content-bg-current: var(--c-primary-complement-highlight);
}

.navbar-static-top {
  z-index: var(--depth-ui-fixed);
}

.navbar {
  margin-bottom: 0px !important;
  position: fixed;
  left: 0px;
  right: 0px;
  box-shadow: unset;
}

.navbar-shadow {
  position: fixed;
  height: var(--h-navbar);
  top: 0px;
  left: 0px;
  right: 0px;
}

.navbar-shadow-caster {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: var(--depth-ui-fixed-shadow);
  background-color: rgba(0, 0, 0, 0);
  box-shadow: var(--box-shadow-md);
}

.navbar-default {
  opacity: 0;
}

.navbar-default.loaded {
  background: var(--c-primary-complement);
  opacity: 1;
  transition: ease-in-out 0.1s;
}

.navbar-default {
  background: none;
  border-bottom: none;
}

.navbar-fixed {
  position: absolute;
  top: 0px;
  right: 0px;
  height: var(--h-navbar);
  width: min-content;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  align-content: center;
}

.navbar a {
  text-shadow: none !important;
  text-decoration: none !important;
}

.navbar * {
  color: var(--c-nav-content) !important;
}

.navbar {
  min-height: var(--h-navbar);
}

.navbar-fixed a,
.navbar-fixed a > span,
.navbar-fixed > div,
.navbar-fixed > div > button,
.navbar-fixed > div > button.btn.btn-circle  {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: flex-start;
  border: none;
  background: none;
}

.navbar-fixed a,
.navbar-fixed > div > button {
  padding-right: var(--padding-h-md);
  padding-left: var(--padding-h-md);
}

.navbar-fixed > div > button.btn.btn-circle  {
  border: none;
  background: none;
  border-radius: unset;
  font-size: inherit;
  text-align: inherit;
  line-height: inherit;
  padding-bottom: unset;
  padding-top: unset;
  padding-right: var(--padding-h-md);
  padding-left: var(--padding-h-md);
  -webkit-appearance: unset;
}

.navbar-header a, .navbar-nav a, .navbar-fixed a  {
  font-family: var(--ff-label);
  white-space: nowrap;
}

.navbar-header a#title {
  display: inline-block;
  font-family: var(--ff-brand);
  transform: var(--tr-brand);
}

.navbar-default a:hover:not(#title),
.navbar-default button.btn.btn-circle:hover,
.navbar-default button.navbar-toggle:hover {
  background-color: var(--c-nav-content-bg-hover) !important;
  box-shadow: none !important;
}

.navbar-default a:active:not(#title),
.navbar-default button.btn.btn-circle:active,
.navbar-default button.navbar-toggle:active {
  background-color: var(--c-nav-content-bg-focus) !important;
  box-shadow: none !important;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus,
.navbar-default .navbar-nav > .open > a
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:active,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default a:focus:not(#title),
.navbar-default button.btn.btn-circle:focus,
.navbar-default button.navbar-toggle:focus {
  background-color: var(--c-nav-content-bg-focus) !important;
  box-shadow: none !important;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:focus:not(#title)  {
  background-color: var(--c-nav-content-bg-current) !important;
  box-shadow: none !important;
}

ul.dropdown-menu > li {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

#dropdown-menu-settings {
  right: 0px !important;
}

.navbar-default .navbar-toggle {
  border: none;
  height: var(--h-navbar);
  margin-top: 0px;
  margin-bottom: 0px;
  border-radius: 0px;
  position: absolute;
  top: 0px;
  right: 0px;
  padding-left: var(--padding-h-md);
  padding-right: var(--padding-h-md);
  margin-right: 0px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: var(--c-nav-content);
  width: 20px;
  margin-left: 2px;
  margin-right: 2px;
}

.navbar-collapse {
  border-top: none !important;
  overflow-x: hidden;
}

body > div.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

div.tab-content > div.tab-pane > div.container {
  height: calc(100vh - var(--h-navbar)) !important;
  overflow-y: unset !important;
}

.navbar-collapse.collapse.in > ul, .navbar-collapse.collapsing > ul {
  margin-left: calc(-1 * var(--padding-h-md));
  margin-right: calc(-1 * var(--padding-h-md));
}

.navbar-collapse > ul > li > a {
  width: fit-content;
}

/* .navbar-collapse.collapse-in::after {
  margin-left: -15px;
  margin-right: -15px;
} */