:root {
  --sus-author-img-size: 100px;
}

.sus-author {
  position: relative;
  padding-left: calc(var(--sus-author-img-size) + var(--padding-h-md));
  margin-bottom: var(--padding-v-lg); 
}

.sus-author:not(:first-child) {
  margin-top: var(--padding-v-md); 
}

.sus-author > h3,
.sus-author > h4 {
  margin-left: unset;
}

.sus-author > h3 {
  margin-bottom: 0.4rem;
  font-size: 2rem;
  color: var(--c-primary-complement);
}

.sus-author > h4 {
  margin-top: unset;
  font-size: 1.5rem;
}

.sus-author-img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: var(--sus-author-img-size);
  height: var(--sus-author-img-size);
  border-radius: calc(var(--sus-author-img-size) / 2);
  object-fit: cover;
  object-position: center;
}

.sus-author-bio {
  margin-bottom: 1em;
}

.sus-author-link {
  position: relative;
  width: min-content;
  white-space: nowrap;
  display: block;
  margin-top: 0.5em;
  padding-top: 0.225em;
  height: 2em;
  border-radius: 1em;
  background: #ffffff66;
  padding-left: 2.5em;
  padding-right: 0.75em;
  overflow: hidden;
  font-size: 1.35rem;
}

@media (max-width: 600px) {
  .sus-author {
    padding-left: unset;
    padding-top: calc(var(--sus-author-img-size) + 1em);
  }

  .sus-author > h3,
  .sus-author > h4 {
    display: block;
    position: absolute;
    left: calc(var(--sus-author-img-size) + var(--padding-h-md));
  }

  .sus-author > h3 {
    top: 0px;
    font-size: 2rem;
  }
  
  .sus-author > h4 {
    top: 5rem;
    font-size: 1.5rem;
  }

  .sus-author-link {
    font-size: 1.25rem;
  }
}

.sus-author-link-icon {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 2em;
  height: 2em;
}

.sus-author-link-icon img {
  width: 100%;
  height: 100%;
  margin: unset;
  padding: unset;
  object-fit: cover;
  object-position: center;
}

.sus-author-link span.material-icons {
  padding-top: 0.075em;
  padding-left: 0.2em; 
}

/* .sus-author-link::before {
  content: "\2022";
  margin-left: 0.5em;
  margin-right: 0.5em;
} */

a.sus-author-link,
a.sus-author-link:active,
a.sus-author-link:hover {
  text-decoration: unset !important;
  color: unset !important;
}