/* interpolate mid color HSL values */
:root {
  --min-mid-r: calc((var(--min-min-r) + var(--min-max-r)) / 2);
  --min-mid-g: calc((var(--min-min-g) + var(--min-max-g)) / 2);
  --min-mid-b: calc((var(--min-min-b) + var(--min-max-b)) / 2);

  --max-mid-r: calc((var(--max-min-r) + var(--max-max-r)) / 2);
  --max-mid-g: calc((var(--max-min-g) + var(--max-max-g)) / 2);
  --max-mid-b: calc((var(--max-min-b) + var(--max-max-b)) / 2);

  --mid-min-r: calc((var(--min-min-r) + var(--max-min-r)) / 2);
  --mid-min-g: calc((var(--min-min-g) + var(--max-min-g)) / 2);
  --mid-min-b: calc((var(--min-min-b) + var(--max-min-b)) / 2);

  --mid-max-r: calc((var(--min-max-r) + var(--max-max-r)) / 2);
  --mid-max-g: calc((var(--min-max-g) + var(--max-max-g)) / 2);
  --mid-max-b: calc((var(--min-max-b) + var(--max-max-b)) / 2);

  --mid-mid-r: calc((var(--min-mid-r) + var(--mid-min-r) + var(--max-mid-r) + var(--mid-max-r)) / 4);
  --mid-mid-g: calc((var(--min-mid-g) + var(--mid-min-g) + var(--max-mid-g) + var(--mid-max-g)) / 4);
  --mid-mid-b: calc((var(--min-mid-b) + var(--mid-min-b) + var(--max-mid-b) + var(--mid-max-b)) / 4);
}

/* initialize 3x3 palette using HSL values */
:root {
  --c-min-min: rgb(var(--min-min-r), var(--min-min-g), var(--min-min-b));
  --c-min-mid: rgb(var(--min-mid-r), var(--min-mid-g), var(--min-mid-b));
  --c-min-max: rgb(var(--min-max-r), var(--min-max-g), var(--min-max-b));
  --c-mid-max: rgb(var(--mid-max-r), var(--mid-max-g), var(--mid-max-b));
  --c-mid-min: rgb(var(--mid-min-r), var(--mid-min-g), var(--mid-min-b));
  --c-max-min: rgb(var(--max-min-r), var(--max-min-g), var(--max-min-b));
  --c-max-mid: rgb(var(--max-mid-r), var(--max-mid-g), var(--max-mid-b));
  --c-mid-mid: rgb(var(--mid-mid-r), var(--mid-mid-g), var(--mid-mid-b));
  --c-max-max: rgb(var(--max-max-r), var(--max-max-g), var(--max-max-b));
}

:root {
  --legend-src-r: var(--max-min-r);
  --legend-src-g: var(--max-min-g);
  --legend-src-b: var(--max-min-b);

  --legend-src-r-norm: calc(var(--legend-src-r) / 255);
  --legend-src-g-norm: calc(var(--legend-src-g) / 255);
  --legend-src-b-norm: calc(var(--legend-src-b) / 255);

  --legend-src-norm-avg: calc(calc(var(--legend-src-r-norm) + var(--legend-src-g-norm) + var(--legend-src-b-norm)) / 3);
  --legend-src-norm-min: min(var(--legend-src-r-norm), var(--legend-src-g-norm), var(--legend-src-b-norm));
  --legend-src-norm-max: max(var(--legend-src-r-norm), var(--legend-src-g-norm), var(--legend-src-b-norm));
  --legend-src-norm-var: calc(var(--legend-src-norm-max) - var(--legend-src-norm-min));

  --legend-src-r-norm-comp: calc(1 - var(--legend-src-r-norm));
  --legend-src-g-norm-comp: calc(1 - var(--legend-src-g-norm));
  --legend-src-b-norm-comp: calc(1 - var(--legend-src-b-norm));

  --legend-src-r-norm-davg: calc(var(--legend-src-r-norm) - var(--legend-src-norm-avg));
  --legend-src-g-norm-davg: calc(var(--legend-src-g-norm) - var(--legend-src-norm-avg));
  --legend-src-b-norm-davg: calc(var(--legend-src-b-norm) - var(--legend-src-norm-avg));

  --legend-src-r-norm-dmin: calc(var(--legend-src-r-norm) - var(--legend-src-norm-min));
  --legend-src-g-norm-dmin: calc(var(--legend-src-g-norm) - var(--legend-src-norm-min));
  --legend-src-b-norm-dmin: calc(var(--legend-src-b-norm) - var(--legend-src-norm-min));

  --legend-src-norm-headroom: calc(1.0 - var(--legend-src-norm-var));
  --legend-src-norm-balance: calc(0.5 - var(--legend-src-norm-avg));
  
  --legend-brightness: 0.7;
  --legend-saturation: 0.3;

  --legend-src-r-sat-norm: calc(var(--legend-src-r-norm-dmin) / var(--legend-src-norm-var));
  --legend-src-g-sat-norm: calc(var(--legend-src-g-norm-dmin) / var(--legend-src-norm-var));
  --legend-src-b-sat-norm: calc(var(--legend-src-b-norm-dmin) / var(--legend-src-norm-var));

  /* --legend-5-r: var(--legend-src-r);
  --legend-5-g: var(--legend-src-g);
  --legend-5-b: var(--legend-src-b); */
  --legend-5-r: calc(var(--legend-brightness) * 255 * (var(--legend-src-r-norm) * (1.0 - var(--legend-saturation)) + var(--legend-src-r-sat-norm) * var(--legend-saturation)));
  --legend-5-g: calc(var(--legend-brightness) * 255 * (var(--legend-src-g-norm) * (1.0 - var(--legend-saturation)) + var(--legend-src-g-sat-norm) * var(--legend-saturation)));
  --legend-5-b: calc(var(--legend-brightness) * 255 * (var(--legend-src-b-norm) * (1.0 - var(--legend-saturation)) + var(--legend-src-b-sat-norm) * var(--legend-saturation)));
  
  --legend-4-r: calc(255 * 0.2 + var(--legend-5-r) * 0.8);
  --legend-4-g: calc(255 * 0.2 + var(--legend-5-g) * 0.8);
  --legend-4-b: calc(255 * 0.2 + var(--legend-5-b) * 0.8);
  
  --legend-3-r: calc(255 * 0.4 + var(--legend-5-r) * 0.6);
  --legend-3-g: calc(255 * 0.4 + var(--legend-5-g) * 0.6);
  --legend-3-b: calc(255 * 0.4 + var(--legend-5-b) * 0.6);
  
  --legend-2-r: calc(255 * 0.6 + var(--legend-5-r) * 0.4);
  --legend-2-g: calc(255 * 0.6 + var(--legend-5-g) * 0.4);
  --legend-2-b: calc(255 * 0.6 + var(--legend-5-b) * 0.4);

  --legend-1-r: calc(255 * 0.8 + var(--legend-5-r) * 0.2);
  --legend-1-g: calc(255 * 0.8 + var(--legend-5-g) * 0.2);
  --legend-1-b: calc(255 * 0.8 + var(--legend-5-b) * 0.2);
}

:root {
  --c-legend-1: rgb(var(--legend-1-r), var(--legend-1-g), var(--legend-1-b));
  --c-legend-2: rgb(var(--legend-2-r), var(--legend-2-g), var(--legend-2-b));
  --c-legend-3: rgb(var(--legend-3-r), var(--legend-3-g), var(--legend-3-b));
  --c-legend-4: rgb(var(--legend-4-r), var(--legend-4-g), var(--legend-4-b));
  --c-legend-5: rgb(var(--legend-5-r), var(--legend-5-g), var(--legend-5-b));
}

.legend-grid {
padding-top: calc(1px * var(--legend-src-r-sat-norm));
padding-right: calc(1px * var(--legend-src-g-sat-norm));
padding-bottom: calc(1px * var(--legend-src-b-sat-norm));
padding-left: calc(100px * var(--legend-src-norm-min));
}

.palette-grid, .legend-grid {
  width: 100%;
  height: 100%;
  display: grid;
}

.palette-grid {
  grid-auto-flow: row reverse;
  grid-template-rows: repeat(3, calc(100% / 3)) ;
  grid-template-columns: repeat(3, calc(100% / 3));
}

.legend-grid {
  grid-auto-flow: row reverse;
  grid-template-rows: repeat(1, 100%);
  grid-template-columns: repeat(5, calc(100% / 3));
}

.palette-swatch, .legend-swatch {
  width: 100%;
  height: 100%;
}

.palette-grid[hidden], .legend-grid[hidden] {
  display: none;
}

.palette-swatch:nth-child(1) {
  background-color: var(--c-min-min);
}

.palette-swatch:nth-child(2) {
  background-color: var(--c-min-mid);
}

.palette-swatch:nth-child(3) {
  background-color: var(--c-min-max);
}

.palette-swatch:nth-child(4) {
  background-color: var(--c-mid-min);
}

.palette-swatch:nth-child(5) {
  background-color: var(--c-mid-mid);
}

.palette-swatch:nth-child(6) {
  background-color: var(--c-mid-max);
}

.palette-swatch:nth-child(7) {
  background-color: var(--c-max-min);
}

.palette-swatch:nth-child(8) {
  background-color: var(--c-max-mid);
}

.palette-swatch:nth-child(9) {
  background-color: var(--c-max-max);
}

.legend-swatch:nth-child(1) {
  background-color: var(--c-legend-1);
}

.legend-swatch:nth-child(2) {
  background-color: var(--c-legend-2);
}

.legend-swatch:nth-child(3) {
  background-color: var(--c-legend-3);
}

.legend-swatch:nth-child(4) {
  background-color: var(--c-legend-4);
}

.legend-swatch:nth-child(5) {
  background-color: var(--c-legend-5);
}