/* define font families */ 
@font-face {
  font-family: outfit-regular;
  src: url("fonts/Outfit-Regular.ttf");
}

@font-face {
  font-family: outfit-medium;
  src: url("fonts/Outfit-Medium.ttf");
}

@font-face {
  font-family: outfit-semibold;
  src: url("fonts/Outfit-SemiBold.ttf");
}

@font-face {
  font-family: outfit-bold;
  src: url("fonts/Outfit-Bold.ttf");
}

@font-face {
  font-family: source-sans-pro-regular;
  src: url("fonts/SourceSansPro-Regular.ttf");
}

/* define font usage */
:root {
  --ff-brand: 'outfit-bold';
  --ff-button: 'outfit-medium';
  --ff-label: 'outfit-medium';
  --ff-h1: 'outfit-regular';
  --ff-h2: 'outfit-regular';
  --ff-h3: 'outfit-medium';
  --ff-h4: 'outfit-semibold';
  --ff-body: 'source-sans-pro-regular';
}

/* define colors */
:root {
  --c-dark-blue: #4a5c83;
  --c-medium-blue: #6c83b5;
  --c-muted-green: #b8d6be;
  --c-muted-blue: #b5c0da;
  --c-medium-muted-green: #90b2b3;
  --c-light-muted-green: #ddeee0;
  --c-medium-muted-blue: #cad7ed;
  --c-light-muted-blue: #d8dfee;
  --c-light-muted-blue-alt: #dadfec;
  --c-medium-green-blue: #567994;
}

/* define color relationships */
:root {
  --c-primary: var(--c-dark-blue);
  --c-primary-hover: var(--c-dark-blue);
  --c-primary-complement: white;
  --c-primary-complement-hover: var(--c-light-muted-blue);
  --c-primary-complement-active: var(--c-muted-blue);
  --c-primary-complement-focus: var(--c-muted-blue);
  --c-primary-complement-highlight: var(--c-light-muted-green);
  --c-secondary: var(--c-medium-muted-green);
}

/* define color roles */
:root {
  --c-paragraph: var(--c-dark-blue);
  --c-h1: var(--c-dark-blue);
  --c-h2: var(--c-medium-green-blue);
  --c-h3: var(--c-medium-green-blue);
  --c-h4: var(--c-medium-green-blue);
}

/* define global style values */
:root {
  --padding-h-md: 15px;
  --padding-v-md: 10px;
  --padding-h-lg: calc(var(--padding-h-md) * 3);
  --padding-v-lg:  calc(var(--padding-v-md) * 3);
  --line-height: 20px;

  --border-radius-sm: 3px;
  --border-radius-md: calc(var(--border-radius-sm) * 4);
  --border-radius-lg: calc(var(--border-radius-md) * 3);

  --box-shadow-sm: 0px 1px 5px 0px rgba(0, 0, 0, 0.1);
  --box-shadow-md: 0px 2.5px 10px 0px rgba(0, 0, 0, 0.1);
  --box-shadow-lg: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);

  --tr-brand: skew(-8deg, 0deg);

  --depth-ui: 10;
  --depth-ui-shadow: calc(var(--depth-ui) - 1);
}

.container-fluid {
  padding-right: var(--padding-h-md);
  padding-left: var(--padding-h-md);
}

body {
  background-color: var(--c-min-mid);
}

p {
  font-family: var(--ff-body);
  color: var(--c-paragraph);
  font-size: 1.65rem;
  margin-bottom: 1em;
}

em {
  font-style: inherit;
  transform: var(--tr-brand);
  display: inline-block;
}

li {
  font-family: var(--ff-body);
  color: var(--c-paragraph);
  font-size: 1.45rem;
}

h1 {
  color: var(--c-h1);
  font-family: var(--ff-h1);
  font-size: 6rem;
}

h2 {
  color: var(--c-h2);
  font-family: var(--ff-h2);
  font-size: 4rem;
  margin-bottom: 0.75em;
}

h3 {
  color: var(--c-h3);
  font-family: var(--ff-h3);
  font-size: 2rem;
  text-transform: uppercase;
  opacity: 0.75;
}

h4 {
  color: var(--c-h4);
  font-family: var(--ff-h4);
  font-size: 2rem;
}

/* make Material icons a little smaller */
span.material-icons {
  transform: scale(0.9, 0.9);
}

/* give Material icons some breathing room when used before/after other content */
span.material-icons:not(:last-child) {
  margin-right: 0.2em;
}

span.material-icons:not(:first-child) {
  margin-left: 0.2em;
}

div.tab-content:first-child > div.tab-pane > div.container {
  overflow-y: auto !important;
  height: auto !important;
}

.sus-brand {
  color: var(--c-primary);
  font-family: var(--ff-brand);
  content: "SUS";
  transform: var(--tr-brand);
}

span.sus-col-br {
  display: inline-block;
  break-after: column;
}

html {
  overflow: initial !important;
}

body {
  overflow: initial !important;
  font-family: var(--ff-body);
  color: var(--c-paragraph);
  font-size: 1.45rem;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

body.user-tab-home:not(.user-scroll) .navbar-default:not(:hover) {
  /* background: none !important; */
  background: rgba(255, 255, 255, 0.5) !important;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.05) !important;
  transition: ease-in-out 0.1s;
}

body.user-tab-home .navbar-default {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
}

a.sus-small-link {
  font-size: 1.25rem;
}