
:root {
  --ff-banner: 'outfit-semibold';
  
  --fs-banner: calc(max(min(min(40vh, 40vw), 28rem), 12rem));
  --h-banner: calc(var(--h-navbar) + var(--fs-banner));
}

.sus-banner {
  position: relative;
  background-color: var(--c-light-muted-blue-alt);
  overflow: hidden;
  height: var(--h-banner);
  font-size: var(--fs-banner);
}

.sus-banner-bg {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}

.sus-banner-text {
  font-size: inherit;
  font-family: var(--ff-banner) !important;
  color: #6c83b5 !important;
  position: absolute;
  display: block;
  text-align: center;
  left: 0px;
  right: 0px;

  margin: 0px 0px 0px 0px;
}

.sus-banner-text-city {
  font-size: 0.25em !important;
  font-family: var(--ff-banner) !important;
  color: #6c83b5 !important;
  position: absolute;
  display: block;
  text-align: center;
  left: 0px;
  right: 0px;
  bottom: -0.29em;
  margin: 0px 0px 0px 0px;
}

.sus-bg-img-map {
  background-image: url('banner-map.jpg');
  background-size: cover;
  background-position: 50% 75%;
}

.sus-bg-img-skyline {
  background-image: url('banner-skyline.svg');
  background-size: cover;
  background-position: 50% 50%;
  transform: translate(0px, 40%);
}