/* define font families */ 
@font-face {
  font-family: outfit-regular;
  src: url("fonts/Outfit-Regular.ttf");
}

@font-face {
  font-family: outfit-medium;
  src: url("fonts/Outfit-Medium.ttf");
}

@font-face {
  font-family: outfit-semibold;
  src: url("fonts/Outfit-SemiBold.ttf");
}

@font-face {
  font-family: outfit-bold;
  src: url("fonts/Outfit-Bold.ttf");
}

@font-face {
  font-family: source-sans-pro-regular;
  src: url("fonts/SourceSansPro-Regular.ttf");
}

/* define font usage */
:root {
  --ff-brand: 'outfit-bold';
  --ff-banner: 'outfit-semibold';
  --ff-button: 'outfit-medium';
  --ff-label: 'outfit-medium';
  --ff-h1: 'outfit-regular';
  --ff-h2: 'outfit-regular';
  --ff-h3: 'outfit-medium';
  --ff-h4: 'outfit-semibold';
  --ff-body: 'source-sans-pro-regular';
}

/* define colors */
:root {
  --dark-blue: #4a5c83;
  --medium-blue: #6c83b5;
  --muted-green: #b8d6be;
  --muted-blue: #b5c0da;
  --medium-muted-green: #90b2b3;
  --light-muted-green: #ddeee0;
  --medium-muted-blue: #cad7ed;
  --light-muted-blue: #d8dfee;
  --light-muted-blue-alt: #dadfec;
  --medium-green-blue: #567994;
}

/* define color roles */
:root {
  --primary: var(--dark-blue);
  --primary-bg: white;
  --primary-bg-hover: var(--light-muted-blue);
  --primary-bg-active: var(--muted-blue);
  --primary-bg-focus: var(--muted-blue);
  --primary-bg-open: var(--light-muted-green);
  --secondary: var(--medium-muted-green);
  --paragraph: var(--dark-blue);
  --h1: var(--dark-blue);
  --h2: var(--medium-green-blue);
  --h3: var(--medium-green-blue);
  --h4: var(--medium-green-blue);
}

/* define global style values */
:root {
  --default-padding-h: 15px;
  --default-padding-v: 10px;
  --default-line-height: 20px;

  --border-radius-sm: 3px;
  --border-radius-md: calc(var(--border-radius-sm) * 4);
  --border-radius-lg: calc(var(--border-radius-md) * 3);

  --box-shadow-sm: 0px 1px 5px 0px rgba(0, 0, 0, 0.1);
  --box-shadow-md: 0px 2.5px 10px 0px rgba(0, 0, 0, 0.1);
  --box-shadow-lg: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);

  --brand-transform: skew(-8deg, 0deg);
  
  --navbar-height: 50px;
  --nav-content-color: var(--primary);
  --nav-content-active-bg-color: var(--primary-bg-active);
  --nav-content-focus-bg-color: var(--primary-bg-focus);
  --nav-content-hover-bg-color: var(--primary-bg-hover);
  --nav-content-current-bg-color: var(--primary-bg-open);

  --footer-height: 200px;
  --footer-content-color: white;
  --footer-bg-color: #828fac;
}

/* define landing page style variables */
:root {
  --home-bg-gradient-start: var(--medium-muted-blue);
  --home-bg-gradient-end: var(--dark-blue);
}

em {
  font-style: inherit;
  transform: var(--brand-transform);
  display: inline-block;
}

p {
  font-family: var(--ff-body);
  color: var(--paragraph);
  font-size: 1.75rem;
  margin-bottom: 1em;
}

li {
  font-family: var(--ff-body);
  color: var(--paragraph);
  font-size: 1.5rem;
}

h1 {
  color: var(--h1);
  font-family: var(--ff-h1);
  font-size: 6rem;
}

h2 {
  color: var(--h2);
  font-family: var(--ff-h2);
  font-size: 4rem;
  margin-bottom: 0.75em;
}

h3 {
  color: var(--h3);
  font-family: var(--ff-h3);
  font-size: 2rem;
  text-transform: uppercase;
  opacity: 0.75;
}

h4 {
  color: var(--h4);
  font-family: var(--ff-h4);
  font-size: 2rem;
}

.navbar-default {
  background: none;
  border-bottom: none;
}

.navbar-fixed {
  position: absolute;
  top: 0px;
  right: 0px;
  height: var(--navbar-height);
  width: min-content;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  align-content: center;
}

.navbar a {
  text-shadow: none !important;
  text-decoration: none !important;
}

.navbar * {
  color: var(--nav-content-color) !important;
}

.navbar {
  min-height: var(--navbar-height);
}

.navbar-fixed a,
.navbar-fixed a > span,
.navbar-fixed > div,
.navbar-fixed > div > button,
.navbar-fixed > div > button.btn.btn-circle  {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: flex-start;
  border: none;
  background: none;
}

.navbar-fixed a,
.navbar-fixed > div > button {
  padding-right: var(--default-padding-h);
  padding-left: var(--default-padding-h);
}

.navbar-fixed > div > button.btn.btn-circle  {
  border: none;
  background: none;
  border-radius: unset;
  font-size: inherit;
  text-align: inherit;
  line-height: inherit;
  padding-bottom: unset;
  padding-top: unset;
  padding-right: var(--default-padding-h);
  padding-left: var(--default-padding-h);
  -webkit-appearance: unset;
}

/* make Material icons a little smaller */
span.material-icons {
  transform: scale(0.9, 0.9);
}

/* give Material icons some breathing room when used before/after other content */
span.material-icons:not(:last-child) {
  margin-right: 0.2em;
}

span.material-icons:not(:first-child) {
  margin-left: 0.2em;
}

.navbar-header a, .navbar-nav a, .navbar-fixed a  {
  font-family: var(--ff-label);
  white-space: nowrap;
}

.navbar-header a#title {
  display: inline-block;
  font-family: var(--ff-brand);
  transform: var(--brand-transform);
}

.navbar-default a:hover:not(#title),
.navbar-default button.btn.btn-circle:hover,
.navbar-default button.navbar-toggle:hover {
  background-color: var(--nav-content-hover-bg-color) !important;
  box-shadow: none !important;
}

.navbar-default a:active:not(#title),
.navbar-default button.btn.btn-circle:active,
.navbar-default button.navbar-toggle:active {
  background-color: var(--nav-content-focus-bg-color) !important;
  box-shadow: none !important;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus,
.navbar-default .navbar-nav > .open > a
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:active,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default a:focus:not(#title),
.navbar-default button.btn.btn-circle:focus,
.navbar-default button.navbar-toggle:focus {
  background-color: var(--nav-content-focus-bg-color) !important;
  box-shadow: none !important;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:focus:not(#title)  {
  background-color: var(--nav-content-current-bg-color) !important;
  box-shadow: none !important;
}

ul.dropdown-menu > li {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

#dropdown-menu-settings {
  right: 0px !important;
}

.navbar {
  margin-bottom: 0px !important;
}

.navbar-default .navbar-toggle {
  border: none;
  height: var(--navbar-height);
  margin-top: 0px;
  margin-bottom: 0px;
  border-radius: 0px;
  position: absolute;
  top: 0px;
  right: 0px;
  padding-left: var(--default-padding-h);
  padding-right: var(--default-padding-h);
  margin-right: 0px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: var(--nav-content-color);
  width: 20px;
  margin-left: 2px;
  margin-right: 2px;
}

.navbar-collapse {
  border-top: none !important;
}

body > div.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

div.tab-content > div.tab-pane > div.container {
  height: calc(100vh - var(--navbar-height)) !important;
  overflow-y: unset !important;
}

.mapdeck_div {
  height: calc(100vh - var(--navbar-height)) !important;
}

.sidebar_content {
  padding-top: var(--default-padding-h);
  padding-left: var(--default-padding-h);
}

div.tab-content:first-child > div.tab-pane > div.container {
  overflow-y: auto !important;
  height: auto !important;
}

.sus-brand {
  color: var(--primary);
  font-family: var(--ff-brand);
  content: "SUS";
  transform: var(--brand-transform);
}

:root {
  --banner-font-size: calc(max(min(min(40vh, 40vw), 28rem), 12rem));
  --banner-height: calc(var(--navbar-height) + var(--banner-font-size));
}

.sus-banner {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-color: var(--light-muted-blue-alt);
  overflow: hidden;
  height: var(--banner-height);
  font-size: var(--banner-font-size);
}

.sus-banner-bg {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}

.sus-banner-text {
  font-size: inherit;
  font-family: var(--ff-banner) !important;
  color: #6c83b5 !important;
  position: absolute;
  display: block;
  text-align: center;
  left: 0px;
  right: 0px;
  bottom: -0.28em;
  margin: 0px 0px 0px 0px;
}

.sus-bg-img-map {
  background-image: url('banner-map.jpg');
  background-size: cover;
  background-position: 50% 75%;
}

.sus-bg-img-skyline {
  background-image: url('banner-skyline.svg');
  background-size: cover;
  background-position: 50% 50%;
  transform: translate(0px, 40%);
}

.sus-button {
  border: none;
  border-radius: var(--border-radius-sm);
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  padding: 0px var(--default-padding-h) 0px var(--default-padding-h);
  width: auto;
  min-height: 45px;
  max-height: 45px;
  text-transform: uppercase;
  font-family: var(--ff-button);
  font-size: 1.75rem;
  transform-origin: center;
  white-space: nowrap;
  box-shadow: var(--box-shadow-md);
}

.sus-button:hover {
  transform: scale(1.02, 1.02);
  filter: brightness(1.05);
  transition: transform ease-in-out 0.1s;
}

.sus-button:active {
  transform: scale(1, 1);
  filter: brightness(0.95);
  transition: transform ease-in-out 0.1s;
}

.sus-button-primary {
  background-color: var(--primary);
  color: white;
}

.sus-button-secondary{
  background-color: var(--secondary);
  color: white;
}

.sus-button-group {
  display: flex;
}

.sus-button-group-vertical {
  flex-direction: column;
}

.sus-button-group:not(.sus-button-group-vertical) .sus-button:not(:first-child) {
  margin-left: calc(var(--default-padding-h) / 1.5);
}

.sus-button-group.sus-button-group-vertical .sus-button:not(:first-child) {
  margin-top: calc(var(--default-padding-h) / 1.5);
  width: 100%;
}

.sus-page {
  height: 100%;
  width: 100%;
  position: relative;
}

.sus-page-home {
  background: linear-gradient(to bottom, var(--home-bg-gradient-start), var(--home-bg-gradient-end));
  top: 0px;
  min-height: 100vh;
  /* margin-top: calc(-1 * var(--navbar-height)); */
  padding-top: var(--banner-height);
}

:root {
  --home-page-content-height: calc(100vh - var(--banner-height));
}

.sus-page-home .sus-page-content-section:first-child {
  height: var(--home-page-content-height);
  min-height: var(--home-page-content-height);
  max-height: var(--home-page-content-height);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-image: url('landing.jpg');
  background-size: cover;
  background-position: 50% 50%;
  padding-top: 30px;
  padding-bottom: 30px;
}

@media (max-height: 800px) {
  .sus-page-home .sus-page-content-section:first-child {
    max-height: min-content !important;
    height: min-content !important;
  }
}

@media (max-width: 600px) {
  .sus-page-home .sus-page-content-section:first-child {
    max-height: min-content !important;
    height: min-content !important;
  }
}

.sus-page-home .sus-page-content-section:not(:first-child) {
  border-radius: 30px;
  max-width: 900px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 100px;
  padding-right: 100px;
  /* background-color: rgba(255, 255, 255, 0.75);
  box-shadow: var(--box-shadow-lg); */
}

.sus-page-home .sus-page-content-section:not(:first-child) * {
  color: white;
}

@media (max-width: 950px) {
  .sus-page-home .sus-page-content-section:not(:first-child) {
    border-radius: 0px;
    width: 100%;
    max-width: unset;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    box-shadow: unset;
  }
}

@media (max-width: 600px) {
  .sus-page-home .sus-page-content-section:not(:first-child) {
    padding-left: var(--default-padding-h);
    padding-right: var(--default-padding-h);
  }
}

.sus-maps-list {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: -5px;
  margin-right: -10px;
  overflow-x: hidden;
  height: 50vh;
}

.sus-maps-list-group {
  flex-grow: 0;
  min-width: max-content;
  width: 30%;
  background: none;
  border-radius: 0px;
  box-shadow: none;
  margin: 5px;
  padding-top: var(--default-padding-v);
  padding-left: var(--default-padding-h);
  padding-right: var(--default-padding-h);
  margin-bottom: var(--default-padding-v);
}

@media (max-width: 900px) {
  .sus-maps-list {
    height: 75vh;
  }
  .sus-maps-list-group {
    width: 50%;
  }
}

@media (max-width: 600px) {
  .sus-maps-list {
    height: unset;
  }
  .sus-maps-list-group {
    width: calc(100% - 15px);
  }
}

.sus-maps-list-group h3 {
  margin-left: 2px;
  margin-top: 0px;
}

.sus-maps-list-group ul {
  margin-bottom: 8px;
}

:root {
  --map-list-group-dx: 10px;
  --map-list-group-dy: 4px;
}

.sus-maps-list-group li {
  background-color: rgba(255, 255, 255, 0.5);
  margin-left: calc(var(--map-list-group-dx) * -1 + 2px);
  margin-right: calc(var(--map-list-group-dx) * -1 + 2px);
  padding-left: var(--map-list-group-dx);
  padding-right: var(--map-list-group-dx);
  padding-top: var(--map-list-group-dy);
  padding-bottom: var(--map-list-group-dy);
  font-family: var(--ff-button);
  border-radius: var(--border-radius-sm);
  box-shadow: var(--box-shadow-sm);
}

.sus-maps-list-group li > * {
  display: inline-block;
  width: 100%;
  color: var(--primary) !important;
  font-family: var(--ff-button);
  text-decoration: none !important;
  cursor: pointer;
}

.sus-maps-list-group li:hover {
  background-color: var(--primary-bg);
}

.sus-maps-list-group li:active {
  transform: scale(0.99, 0.99);
}

.sus-maps-list-group li:not(:first-child) {
  margin-top: 5px;
}

span.sus-col-br {
  display: inline-block;
  break-after: column;
}

:root {
  --carousel-padding: calc(var(--default-padding-h) * 1.5);
}

.sus-carousel {
  width: 600px;
  height: min-content;
  border-radius: var(--border-radius-md);
  padding: var(--carousel-padding) var(--carousel-padding) var(--carousel-padding) var(--carousel-padding);
}

@media (max-width: 600px) {
  .sus-carousel {
    width: 300px;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 2rem;
  }
}

@media (max-width: 600px) {
  .sus-button-group:not(.sus-button-group-vertical) {
    flex-direction: column;
  }

  .sus-button-group:not(.sus-button-group-vertical) .sus-button:not(:first-child) {
    margin-left: unset;
    margin-top: calc(var(--default-padding-h) / 1.5);
    width: 100%;
  }
}

.sus-page-home .sus-page-content .sus-carousel {
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: var(--box-shadow-lg);
}

.sus-carousel .sus-button-group {
  margin-top: 40px;
  width: 100%;
  justify-content: flex-end;
}

.sus-carousel h1, .sus-carousel h2, .sus-carousel h3, .sus-carousel h4, .sus-carousel p {
  margin-left: var(--default-padding-h);
  margin-right: var(--default-padding-h);
  text-align: center;
}

html {
  overflow: initial !important;
}

body {
  overflow: initial !important;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.navbar-default {
  opacity: 0;
}

.navbar-default.loaded {
  background: var(--primary-bg);
  opacity: 1;
  transition: ease-in-out 0.1s;
}

body.user-tab-home:not(.user-scroll) .navbar-default:not(:hover) {
  /* background: none !important; */
  background: rgba(255, 255, 255, 0.5) !important;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.05) !important;
  transition: ease-in-out 0.1s;
}

body.user-tab-home .navbar-default {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
}

.sus-page-footer {
  background: linear-gradient(to top, var(--footer-bg-color), var(--footer-bg-color));
  color: var(--footer-content-color);
  min-width: 100%;
  max-width: 100%;
  min-height: var(--footer-height);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sus-page-footer-content {
  position: relative;
  width: 100%;
  max-width: 800px;
  min-height: 100%;
  padding-top: var(--default-padding-v);
  padding-left: var(--default-padding-h);
  padding-bottom: var(--default-padding-v);
  padding-right: var(--default-padding-h);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sus-page-footer-content > * {
  flex: 0 0 33.3333%;
  margin-top: var(--default-padding-v);
  padding-left: var(--default-padding-h);
  margin-bottom: var(--default-padding-v);
  padding-right: var(--default-padding-h);
}

@media (max-width: 600px) {
  .sus-page-footer-content > * {
    flex: 0 0 80%;
  }
}

.sus-page-footer-links {
  position: relative;
  text-align: right;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding-right: calc(var(--default-padding-h) * 2);
}

.sus-page-footer-links::before {
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: var(--default-padding-h);
  width: 1px;
  background-color: var(--footer-content-color);
  opacity: 0.2;
}

.sus-page-footer-links ul {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  list-style-type: none;
  height: 100%;
  width: max-content;
}

.sus-page-footer-links li {
  font-size: 1.25rem;
}

.sus-page-footer-links a {
  color: var(--footer-content-color);
  opacity: 0.8;
}

.sus-page-footer-links a:hover {
  opacity: 1;
}

:root {
  --footer-logo-size: calc(var(--footer-height) - 4 * var(--default-padding-v));
}

.sus-page-footer-logo {
  background-color: white;
  padding: 10px 10px 10px 10px;
  border-radius: var(--border-radius-lg);
  width: 100%;
  max-width: 208px;
  height: auto;
  object-fit: contain;
  box-shadow: var(--box-shadow-md);
}

ul.sus-map-link-group {
  list-style-type: none;
  padding-left: 0px;
}