:root {
  --sus-author-img-size: 100px;
}

html{
  background-color:#68748f;
  box-sizing: border-box;
}

.author-image{
  width: 10rem;
  height:10rem;
  border-radius:5rem;
}

container{
  display:flex;
  flex-direction: column;
  margin: 0 auto 0 auto;
  padding:5rem;
  width:60%;
  background-color: white;
  box-shadow: 0 0 20px black;
}

container p{
  font-size:1rem;
  text-align: justify;
  text-justify: inter-word;
}

#main-authors{
  display:flex;
  flex-direction: column;
  align-items:baseline;
  justify-content: space-between;
  gap:2em;
}

.author{
  display:flex;

}

#contributors{
  display:flex;
  flex-direction: row;
  gap: 2rem;
}