.tab-pane[data-value="news"] {
    z-index: 0;
}

.sus-page-news .main_panel_text_popup {
    background: none;
    border-top: unset !important;
}

#news-news-controls > *, #news-explore-controls > * {
    width: 100%;
    display: inline-block;
}

#news-explore > span > div {
    max-width: calc(1rem * 60);
    margin-left: auto;
    margin-right: auto;
}

#news-explore .row {
    background: white;
    border-radius: var(--border-radius-md);
    box-shadow: var(--box-shadow-md);
    padding: var(--padding-h-md) 0;
}

#news-explore .row .news-preview p:last-child {
    margin-bottom: unset;
}

#news-explore .row img {
	width: 100px !important;
	height: 100px !important;
	border-radius: var(--border-radius-md);
	border: 1px solid var(--c-muted-blue);
    margin: unset;
}

#news-explore .row h1 {
	color: var(--c-primary);
	fill: var(--c-primary);
	font-size: 1.75rem;
	font-weight: 400;
	margin-top: unset;
	margin-bottom: 1rem;
}

#news-explore .row .news-meta-data {
	display: flex;
	flex-direction: row;
	width: 100%;
	/* right: 0px; */
	height: 30px;
}

.news-meta-data > span:not(:first-child) {
	margin-left: 0.5em;
	display: inline-block;
}

.news-meta-data-type {
	/* margin-right: 0.75em; */
	padding: 2px 0.5em;
    padding-top: 0px;
	background: var(--c-medium-muted-green);
	color: white;
	border-radius: 0.75em;
	height: 1.5em;
	display: inline-block;
	font-weight: 100;
	font-size: 14.5px;
	/* padding-top: 0px; */
	/* padding-bottom: 0px; */
}

#news-news .main-container {
    background: white;
    border-radius: var(--border-radius-md);
    box-shadow: var(--box-shadow-md);
    padding: var(--padding-v-md) 0px;
    max-width: 630px !important;
}

#news-news .main-container h1 {
    color: var(--c-primary);
    font-size: 5rem;
}

.tab-pane[data-value="news"] .sus-page-content-section {
    padding-top: var(--padding-v-lg);
}

#news-news .main_panel_text_popup {
    margin-top: 0px !important;
}