:root {
  --w-data-view: calc(100vw - var(--w-panel) - var(--w-sidebar)-1vw);
}

.panel_view {
  box-sizing:border-box;
  height: 79vh;
  margin: 1rem calc(var(--w-panel) + 1.7vw) 0 calc(var(--w-sidebar) + 1rem);
  background-color: white;
  border-left: solid 3px white;
  border-right: solid 3px white;
  box-shadow: 0 20px 0.8 black;
  overflow-y: auto;
  padding: .5rem 1rem .5rem 1rem;
  overflow-x: hidden;
}

#housing-housing-download_csv, #housing-housing-download_shp, .fas.fa-download{
  width:fit-content;
  padding:1em;
  font-size: 1rem;
  display:flex;
  flex-direction: row;
  justify-content: center;
}

.DataTables_Table_1{
  margin: 0 2rem 0 2rem;
}