:root {
  --h-home-content: calc(100vh - var(--h-banner));
  --c-home-bg-gradient-start: var(--c-medium-muted-blue);
  --c-home-bg-gradient-end: var(--c-dark-blue);
}

.sus-page-home {
  background: linear-gradient(to bottom, var(--c-home-bg-gradient-start), var(--c-home-bg-gradient-end));
  margin-top: calc(var(--h-navbar) * -1);
  position: relative;
}

.sus-page-home .sus-page-content {
  background: unset;
}

.sus-page-home .sus-page-content-section {
  background: unset;
  box-shadow: unset;
}

.sus-page-home .sus-page-content-section:first-child {
  min-height: var(--h-home-content);
  height: fit-content;
  background-image: url('landing.jpg');
  background-size: cover;
  background-position: 50% 50%;
}

@media (max-height: 800px) {
  .sus-page-home .sus-page-content-section:first-child {
    max-height: min-content !important;
    height: min-content !important;
  }
}

@media (max-width: 600px) {
  .sus-page-home .sus-page-content-section:first-child {
    max-height: min-content !important;
    height: min-content !important;
  }
}

.sus-page-home .sus-page-content-section:not(:first-child) * {
  color: white;
}

.sus-page-home .sus-page-content {
  margin-top: unset;
  margin-bottom: unset;
}

.sus-page-home .sus-link-list-group h3 {
  opacity: 0.85;
}

body.user-tab-home:not(.user-scroll) .navbar-default:not(:hover) {
  /* background: none !important; */
  background: rgba(255, 255, 255, 0.5) !important;
  transition: ease-in-out 0.1s;
}
body.user-tab-home:not(.user-scroll) .navbar-shadow:not(:hover) {
  /* background: none !important; */
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.05) !important;
  transition: ease-in-out 0.1s;
}