:root {
  --w-sidebar: 300px;
  --w-panel: 300px;
}

.map_div {
  height: calc(100vh - var(--h-navbar)) !important;
  position: fixed;
  top: var(--h-navbar);
  left: calc(var(--w-sidebar) - 1px);
  right: 0px;
  padding: unset !important;
  margin: unset !important;
  border: unset !important;
}

.map_div:first-child {
  left: 0px;
}

.sidebar_content {
  padding-left: var(--padding-h-md);
  padding-right: var(--padding-h-md);
  padding-top: var(--padding-v-md);
  padding-bottom: var(--padding-v-md);
}

.sus-map-sidebar, .sus-map-sidebar-shadow {
  position: fixed;
  top: var(--h-navbar);
  left: 0px;
  bottom: 0px;
}

.sus-map-sidebar {
  background: var(--c-primary-complement);
  min-width: var(--w-sidebar);
  max-width: var(--w-sidebar);
  width: var(--w-sidebar);
  background: var(--c-primary-complement);
  overflow-y: hidden;
  overflow-x: visible;
  border-top: 1px solid var(--c-default);
  z-index: var(--depth-ui);
}

.sus-map-sidebar-shadow {
  z-index: var(--depth-ui-shadow);
  box-shadow: var(--box-shadow-md);
  clip-path: inset(0px -15px 0px 0px);
  pointer-events: none;
  min-width: calc(var(--w-sidebar) - 1px);
  max-width: calc(var(--w-sidebar) - 1px);
  width: calc(var(--w-sidebar) - 1px);
}

.sus-map-sidebar-container {
  position: relative;
  z-index: calc(20 + var(--depth-ui));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  max-height: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.sus-map-sidebar-content {
  overflow: scroll;
  overflow-x: hidden;
  height: fit-content;
  width: 100%;
  flex-grow: 1;
  flex-shrink: 1;
}

.sus-map-sidebar-content > div {
  height: fit-content;
  width: 100%;
  padding-left: var(--padding-h-md);
  padding-right: var(--padding-h-md);
  padding-top: var(--padding-v-md);
  padding-bottom: var(--padding-v-md);
}

.sus-map-panel {
  position: absolute;
  /* overflow: hidden; */
  overflow: scroll;
  overflow-x: hidden;
  top: var(--padding-v-md);
  right: var(--padding-h-md);
  min-width: var(--w-panel);
  max-width: var(--w-panel);
  width: 20vw;
  min-height: min-content;
  max-height: calc(100vh - var(--h-navbar) - 30px);
  height: fit-content;
  border: 0.5px solid rgba(0, 0, 0, 0.05);
  box-shadow: var(--box-shadow-md);
  transition: margin-right 0.5s ease-in-out;
  border: 0.4px solid rgba(0, 0, 0, 0.05);
}

@media (max-width: 650px) {
  .sus-map-panel {
    margin-right: calc(-1 * 100% - 2 * var(--padding-h-md));
  }
}

/* IN COMBINATION WITH JS, COLLAPSED RIGHT PANEL */
@media (max-width: 1400px) {
  .sus-map-panel {
    opacity: 0.95;
    transition: opacity 0.95s ease-out, visibility 1s ease-out;
    transition-delay: visibility 4s;
  }
  
  .sus-map-panel:hover .right-panel-hidden {
    display: block !important;
  }

}

.sus-map-panel-content {
  position: relative;
  z-index: calc(20 + var(--depth-ui));
  width: 100%;
  padding-left: var(--padding-h-md);
  padding-right: var(--padding-h-md);
  padding-top: var(--padding-v-md);
  padding-bottom: var(--padding-v-md);
}

.sus-map-panel-content a.sus-small-link, .sus-map-panel-content h4 {
  margin-top: var(--padding-v-md);
  display: inline-block;
}

.sus-map-sidebar ul, .sus-map-panel ul {
  padding-left: var(--padding-h-md);
}

.sus-map-sidebar #legend > img {
  width: 100% !important;
  height: auto;
}

.bottom_sidebar {
  flex-shrink: 0;
  flex-grow: 0;
  position: relative !important;
  top: unset !important;
  bottom: unset !important;
  left: unset !important;
  right: unset !important;
  height: fit-content;
  margin: unset !important;
  background: var(--c-primary-complement);
  border-top: 1px solid var(--c-default);
  padding-left: var(--padding-h-md);
  padding-right: var(--padding-h-md);
  padding-top: var(--padding-v-md);
  padding-bottom: var(--padding-v-md);
}

.sus-map-panel p, .sus-map-sidebar p, .panel_view p  {
  font-size: 1.45rem;
}

.sus-map-sidebar div.form-group,
.sus-map-panel div.form-group {
  margin-top: var(--padding-v-md);
}

.sus-map-sidebar button.dropdown-toggle,
.sus-map-panel button.dropdown-toggle,
.compare_dropdown .btn {
  min-height: 30px;
  max-height: 30px;
}

.sus-map-sidebar button.dropdown-toggle,
.sus-map-panel button.dropdown-toggle,
.compare_dropdown .btn,
.compare_dropdown .dropdown-menu > li > a {
  font-family: var(--ff-button);
  text-transform: none;
  font-size: 1.25rem;
  font-weight: unset;
}

.mapboxgl-map .mapboxgl-ctrl a {
  font-family: var(--ff-body);
  color: rgb(128, 128, 128);
}

.mapboxgl-ctrl.mapboxgl-ctrl-attrib {
  background: none !important;
}

#place_explorer-search_bar {
  position: absolute;
  z-index: var(--depth-ui);
  top: var(--padding-v-md);
  left: var(--padding-h-md);
  padding-left: var(--padding-h-md);
  padding-right: var(--padding-h-md);
  padding-top: var(--padding-v-md);
  padding-bottom: var(--padding-v-md);
  border: 0.4px solid rgba(0, 0, 0, 0.05);
  border-radius: var(--border-radius-sm);
  box-shadow: var(--box-shadow-md);
}

#place_explorer-search_bar > *:not(:first-child) {
  margin-top: var(--padding-v-md);
}

#place_explorer-search_bar > strong {
  font-family: var(--ff-h2);
  color: var(--c-primary);
}

#place_explorer-address_searched {
  border-color: var(--c-secondary) !important;
}

#place_explorer-search_button {
  background-color: var(--c-primary);
  color: var(--c-button-content);
  min-height: 38px;
  max-height: 38px;
  float: right;
}

.sus-sidebar-widgets {
  margin-top: var(--padding-v-md);
  padding-top: var(--padding-v-md);
  border-top: 1px solid var(--c-default);
}

.sus-sidebar-widgets > *:first-child {
  margin-top: var(--padding-v-md);
}

.mapboxgl-control-container {
  position: fixed;
  bottom: var(--padding-v-md);
  right: var(--padding-h-md);
}

.mapboxgl-ctrl-attrib-button {
	display: none;
}
