#stories-stories {
  position: absolute;
  top: 0px;
  left: var(--w-sidebar);
  right: 0px;
  height: calc(100vh - var(--h-navbar));
  z-index: var(--depth-ui);
}

div#stories-back {
  position: absolute;
  top: 0px;
  left: var(--w-sidebar);
  right: 0px;
  height: var(--h-navbar);
  z-index: var(--depth-ui);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background: var(--c-primary-complement);
  border-top: 1px solid var(--c-default);
  padding-left: var(--h-navbar);
  padding-right: var(--h-navbar);
  box-shadow: var(--box-shadow-md);
  clip-path: inset(0px 0px -15px 0px);
}

a#stories-back ,
a#stories-back:hover,
a#stories-back:active,
a#stories-back:focus {
  color: var(--c-primary);
  margin-left: unset !important;
  font-weight: bold;
  text-decoration: none;
}

div#stories-back button {
  background: none !important;
  border: none !important;
  height: 100%;
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: var(--h-navbar);
  display: flex;
  align-items: center;
  justify-content: center;
}

div#stories-back button:first-child {
  left: 0px;
}

div#stories-back button:last-child {
  right: 0px;
}

.main_panel_text_popup {
	max-height: calc(100% - var(--h-navbar)) !important;
	margin-top: var(--h-navbar) !important;
  margin-left: unset !important;
  box-shadow: unset !important;
  border-left: unset !important;
  border-right: unset !important;
  border-bottom: unset !important;
  border-top: 1px solid var(--c-default) !important;
  background-color: #ffffff;
}
