:root {
  --padding-carousel: calc(var(--padding-h-md) * 1.5);
  --size-nav-bttn: 32px;
  --scale-nav-bttn-hover: 1.05;
  --tr-nav-bttn-hover: scale(var(--scale-nav-bttn-hover), var(--scale-nav-bttn-hover));
  --h-carousel-bottom-content: 50px;
}

.sus-carousel {
  position: relative;
  width: 600px;
  height: min-content;
  border-radius: var(--border-radius-md);
  padding: var(--padding-carousel) var(--padding-carousel) var(--padding-carousel) var(--padding-carousel);
  background-color: rgba(255, 255, 255, 0.6);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.4));
  box-shadow: var(--box-shadow-lg);
  opacity: 0;
  transition: opacity 0.2s;
}

.sus-carousel-slide {
  display: none;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 750px) {
  .sus-carousel {
    min-width: 300px;
    width: calc(100% - var(--padding-h-lg));
  }
}

@media (max-width: 600px) {
  .sus-carousel {
    width: calc(100% - var(--padding-h-md));
  }
}

.sus-carousel .sus-button-group {
  margin-top: 30px;
  width: 100%;
  justify-content: flex-end;
}

.sus-carousel h1, .sus-carousel h2, .sus-carousel h3, .sus-carousel h4, .sus-carousel p {
  margin-left: var(--padding-h-md);
  margin-right: var(--padding-h-md);
  text-align: center;
}

.sus-carousel h1, .sus-carousel h2 {
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15), 0px 1px 0px rgba(0, 0, 0, 0.075);
}

.sus-carousel-preview {
  position: absolute;
  bottom: calc(var(--h-carousel-bottom-content) * -1);
  height: var(--h-carousel-bottom-content);
  max-width: 50%;
  width: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  opacity: 0;
  transition: opacity 0.2s;
  user-select: none;
}

.sus-carousel-preview-prev {
  left: var(--border-radius-md);
  justify-content: flex-start;
}

.sus-carousel-preview-next {
  right: var(--border-radius-md);
  justify-content: flex-end;
}

.sus-carousel-preview * {
  color: rgba(255, 255, 255, 0.95);
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5), 0px 1px 1px rgba(0, 0, 0, 0.5);
  font-size: 1.75rem;
}

.sus-carousel-preview:hover * {
  color: rgba(255, 255, 255, 1);
}

.sus-carousel-nav-bttn {
  top: calc(50% - var(--size-nav-bttn)/2);
  width: var(--size-nav-bttn);
  height: var(--size-nav-bttn);
  background-size: contain;
  background-position: center;
  border-radius: unset !important;
  background-color: unset !important;
  background-repeat: no-repeat;
  box-shadow: unset !important;
  position: absolute;
  user-select: none;
  opacity: 0;
  transition: opacity 0.2s;
  text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25), 0px 1px 2px rgba(0, 0, 0, 0.1);
  font-size: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.95);
}

.sus-carousel-nav-bttn:hover {
  color: rgba(255, 255, 255, 1);
}

.sus-carousel-nav-bttn:active {
  color: rgba(200, 210, 220, 1);
}

/* .sus-carousel-nav-bttn:hover {
  transform: var(--tr-nav-bttn-hover);
} */

.sus-carousel-nav-bttn-left {
  left: calc(0px - (var(--padding-h-md) + var(--size-nav-bttn)));
  /* background-image: url('./sus_carousel_nav_bttn_left.png');
  transform-origin: 50% 50%; */
}

.sus-carousel-nav-bttn-right {
  right: calc(0px - (var(--padding-h-md) + var(--size-nav-bttn)));
  /* background-image: url('./sus_carousel_nav_bttn_right.png');
  transform-origin: 50% 50%; */
}

.sus-carousel-nav-bttn .material-icons {
	position: relative;
	margin: unset !important;
	padding: unset !important;
	font-size: inherit;
}

.sus-carousel-bullets {
  position: absolute;
  bottom: calc(var(--h-carousel-bottom-content) * -1);
  height: var(--h-carousel-bottom-content);
  left: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  opacity: 0;
  transition: opacity 0.2s;
}

.sus-carousel-bullet {
  margin-left: 10px;
  margin-right: 10px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.7);
}

.sus-carousel-bullet:hover:not(.sus-carousel-bullet-active) {
  background-color: rgba(255, 255, 255, 0.5);
}

.sus-carousel-bullet:active:not(.sus-carousel-bullet-active) {
  background-color: rgba(0, 0, 0, 0.85);
}

.sus-carousel-bullet-active {
  background-color: white;
}

.sus-carousel-slide p {
	padding: 0px var(--padding-h-lg);
	text-align: left;
}

@media (max-width: 949px) {   
  .sus-carousel-slide p {
	padding: 0px var(--padding-h-md);
  }
}

@media (max-width: 474px) {   
  .sus-carousel-slide p {
    padding: 0px;
  }
}

@media (max-width: 599px) {   
  .sus-carousel-preview {
    display: none;
  }

  .sus-carousel-nav-bttn {
    top: unset;
    bottom: calc(var(--h-carousel-bottom-content) * -1);
    height: var(--h-carousel-bottom-content);
    font-size: 48px;
  }

  .sus-carousel-nav-bttn-left {
    left: var(--border-radius-md)
  }

  .sus-carousel-nav-bttn-right {
    right: var(--border-radius-md);
  }
}