:root {
  --h-footer: 200px;
  --s-footer-logo: calc(var(--h-footer) - 4 * var(--padding-v-md));
  --c-footer-content: white;
  --c-footer-bg: #828fac;
}

.sus-page-footer {
  background: linear-gradient(to top, var(--c-footer-bg), var(--c-footer-bg));
  color: var(--c-footer-content);
  min-width: 100%;
  max-width: 100%;
  min-height: var(--h-footer);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sus-page-footer-content {
  position: relative;
  width: 100%;
  max-width: 800px;
  min-height: 100%;
  padding-top: var(--padding-v-md);
  padding-left: var(--padding-h-md);
  padding-bottom: var(--padding-v-md);
  padding-right: var(--padding-h-md);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sus-page-footer-content > * {
  flex: 0 0 33.3333%;
  margin-top: var(--padding-v-md);
  padding-left: var(--padding-h-md);
  margin-bottom: var(--padding-v-md);
  padding-right: var(--padding-h-md);
}

@media (max-width: 600px) {
  .sus-page-footer-content > * {
    flex: 0 0 80%;
  }
}

.sus-page-footer-links {
  position: relative;
  text-align: right;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding-right: calc(var(--padding-h-md) * 2);
}

.sus-page-footer-links::before {
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: var(--padding-h-md);
  width: 1px;
  background-color: var(--c-footer-content);
  opacity: 0.2;
}

.sus-page-footer-links ul {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  list-style-type: none;
  height: 100%;
  width: max-content;
}

.sus-page-footer-links li {
  font-size: 1.25rem;
}

.sus-page-footer-links a {
  color: var(--c-footer-content);
  opacity: 0.8;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}

.sus-page-footer-links a:hover {
  opacity: 1;
  text-decoration: none;
}

.sus-page-footer-links a:hover > span:not(.material-icons) {
  text-decoration: underline;
}

.sus-page-footer-logo {
  background-color: white;
  padding: 10px 10px 10px 10px;
  border-radius: var(--border-radius-lg);
  width: 100%;
  max-width: 208px;
  height: auto;
  object-fit: contain;
  box-shadow: var(--box-shadow-md);
}